<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .todo-list {
      display: inline-block;
      width: 33%;
    }
  </style>
</head>

<body>

  <div id="app">
    <h1>My Todo List</h1>
    <my-todo-list category="하고 싶은 일"></my-todo-list>
    <my-todo-list category="해야 하는 일"></my-todo-list>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // 컴포넌트 등록
    Vue.component('my-todo-list', {
      template: `
      <div>
        <h2 :style="{color:titleColor}" @click="changeColor">{{ category }}</h2>
        <input type="text" v-model="newTodo">
        <button @click="addTodo">+추가+</button>
        <li v-for="todo in todos" :key="todo.id">
        <span>{{ todo.content }}</span>
        <button @click="removeTodo(todo.id)">x삭제x</button>
        <button @click="removeTodo2(todo.id)">xx삭제xx</button>
        </li>
      </div>`,
      props: {
        category: {
          type: String,
          required: true,
          validator: function (value) {
            if (value.length < 5) {
              return true
            } else {
              return false
            }
          },
        }
      },
      data: function () {
        return {
          todos: [],
          newTodo: '',
          todayDate: '',
          titleColor: 'red'
        }
      },
      methods: {
        addTodo: function () {
          if (this.newTodo.length != 0) {
            this.todos.push({
              id: Date.now(),
              content: this.newTodo,
              completed: false,
              todayDate: Date.now()
            })
            this.newTodo = ''
          }
        },
        removeTodo: function (todoId) {
          this.todos = this.todos.filter(todo => {
            return todo.id !== todoId
          })
        },
        removeTodo2: function (todoId) {
          this.todos.splice(this.todos.filter(todo => {
            return todo.id == todoId
          }), 1)
        },
        changeColor: function () {
          if (this.titleColor === 'red') {
            this.titleColor = 'blue'
          } else {
            this.titleColor = 'red'
          }
        }
      },
    })

    const app = new Vue({
      el: '#app',
    })
  </script>
</body>

</html>