/* 
작성 가이드:
1. 들여쓰기 2문자
2. 클랫, 아이디명은 케밥 케이스(kebob_case)를 사용한다.
3. 다중 선택 시 한 줄에 서택자를 하나씩 작성
4. 모든 스타일 뒤에는 세미콜론을 붙인다.
5. 스타일 지정 시 아이디, 태그 대신에 클래스를 사용한다.(되도록, 대부분)
*/





/* !important (0순위) */

/* 인라인 스타일 (1순위) */

/* 아이디 선택자 (2순위)*/
/* 하나만 쓰는 것이 원칙, 한 곳에만 적용 */
#green {
  color: green
}

/* 클래스 선택자 (3순위) */
/* 여러 곳에서 사용 가능함 */
.pink{
  color: pink;
}

/*  태그 선택자 (4순위)*/
h1 {
  color: yellow
}

/*  전체 선택자 (5순위) */

* {
  color: red
}


.bold{
  font-weight: bold
}

.blue{
  color: blue
}

#orange{
  color: brown !important;
  color: orange;
}