div {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  text-align: center;
  line-height: 100px;
}

.float-left {
  float: left;
}

.back {
  background-color: orange;
  width: 300px;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}